fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pandas
numpy
scikit-learn
prophet
redis
celery
python-dotenv
jinja2
sendgrid
websockets
agno
pydantic_settings
reportlab
apscheduler
groq
numpy_financial
xgboost
locust
apache-beam
pyspark
